<div class="comment">
  <div class="comment-header">
    <span class="comment-username">{{ comment.User.username }}</span>
    <span class="comment-date">{{ formatDate comment.createdAt }}</span>
  </div>
  <div class="comment-text">{{ comment.text }}</div>
</div>
